{% extends 'layout.html.twig' %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.message | trans }}
        </div>
    {% endif %}
    <form method="post" action="{{ path('comprobar') }}">
        <input type="text" name="_username" required="required" placeholder="[Introduzca DNI]">
        <input type="password" name="_password" required="required" placeholder="[Introduzca contraseña]">
        <button type="submit">Entrar en la aplicación</button>
    </form>
{% endblock %}
